<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block meta %}
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="/static/css/bootstrap.css') }}">
    <link rel="stylesheet" href="/static/css/howdareyou.css') }}">
    {% endblock %}

    <title>{% block title %}How dare you!{% endblock %}</title>

    {% endblock %}
  </head>
  <body>

</body>
</html>

