<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {% block meta %}
      {% endblock %}

      {% block styles %}
        <link rel="stylesheet" href="/static/css/howdareyou.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

      {% endblock %}

      <title>{% block title %}How dare you!{% endblock %}</title>

    {% endblock %}

    {%- include 'navbar.html' -%}
    <div class="container mx-auto px-4">
      {% block content %}
      {% endblock%}
    </div>

  </head>
  <body>

</body>
</html>

