{%- extends 'base.html' -%}
{%- block content -%}
<div class="row">

    <div class="col-6">
      <div>
        <p class="header-title">
           How dare you?
        </p>
        <p class="header-subtitle">
           #howdareyou
        </p>
      </div>
    </div>

    <div class="col-6">
      <div class="text-end">
        <p class="header-handle">
           by Miss Feisty
        <p>
        <p class="header-subhandle">
           @MissFeistyWTF
        </p>
      </div>
    </div>

</div>
<div class="row">
    <div class="col-12">
       <p><span style="font-weight: bold;">#howdareyou</span> is following in the 
           footsteps of <span style="font-weight: bold">#metoo</span> and
           attempting to call out disrespectful human behaviour.
       </p>

       <div class="text-center">
           <div class="episode-title">
               Episode #1: No condom?
           </p>
         <iframe width="560" height="315" src="https://www.youtube.com/embed/6xb5nF9IjZE"
                 title="YouTube video player" frameborder="0"
                 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
         </iframe>
       </div>

       <div class="text-center">
           <div class="episode-title">
               Episode #2: You what???
           </div>
         <iframe width="560" height="315" src="https://www.youtube.com/embed/oe1UDd7YaP4"
                 title="YouTube video player" frameborder="0"
                 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
         </iframe>
       </div>

    </div>
</div>
{% endblock%}
