{%- extends 'base.html' -%}
{% set current = "index" %}
{%- block content -%}
<div class="flex flex-col max-w-3xl">
    <p class="p-4">
     <span class="font-bold">#howdareyou</span> is following in the footsteps of <span class="font-bold">#metoo</span> and
      attempting to call out disrespectful human behaviour. Our collection of 20 second videos are designed to identify
      bad behaviour and raise awareness that these actions can have significant negative effects on others. 
    </p>

    <p class="p-4">
      Our videos evoke many resposes and if you feel that something that has happened to you and you'd like to call
      out this behaviour, please <a href="/make-your-own">make your own video</a>!
    </p>

  <div class="" id="outer">
    <div class="justify-center">
      <div class="flex flex-col p-2">

        <div class="video-wrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/6xb5nF9IjZE"
                  title="YouTube video player" frameborder="0" allowfullscreen>
          </iframe>
        </div>
        <div class="flex flex-row justify-between bg-ch1 p-2 rounded-b-lg">
          <p class="font-medium text-ch3">
              Asking for sex, but you don't even have a condom?
          </p>
          <p class="text-gray-500">
              #hdy-condom
          </p>
        </div>

        <div class="video-wrapper mt-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zN48e-89j6Y"
                  title="YouTube video player" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <div class="flex flex-row justify-between bg-ch1 p-2 rounded-b-lg">
          <p class="font-medium text-ch3">
              Why did you ghost me?
          </p>
          <p class="text-gray-500">
              #hdy-ghosting
          </p>
        </div>

        <div class="video-wrapper mt-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oe1UDd7YaP4"
                  title="YouTube video player" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <div class="flex flex-row justify-between bg-ch1 p-2 rounded-b-lg">
          <p class="font-medium text-ch3">
              Taking off a condom during sex??
          </p>
          <p>
              #hdy-stealthing
          </p>
        </div>

        <div class="video-wrapper mt-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/raUmcmsOXLY"
                  title="YouTube video player" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <div class="flex flex-row justify-between bg-ch1 p-2 rounded-b-lg">
          <p class="font-medium text-ch3">
              Eroding my self esteem!
          </p>
          <p class="text-gray-500">
              #hdy-self-esteem
          </p>
        </div>

        <div class="video-wrapper mt-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eTmmcB_vs_0"
                  title="YouTube video player" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <div class="flex flex-row justify-between bg-ch1 p-2 rounded-b-lg">
          <p class="font-medium text-ch3">
              I asked you to stop!
          </p>
          <p class="text-gray-500">
              #hdy-stop
          </p>
        </div>


      </div>

    </div>
  </div>

</div>

<script>
$(document).ready(function() {
    $("#mobile-menu").hide();  
    $("#menu-button").click(function () {
        $("#mobile-menu").toggle(100);  
    });
});
</script>

{% endblock%}
