{% macro entries(posts) -%}
<div class="" id="outer">
  <div class="justify-center">
    <div class="flex flex-col p-2">

      {% for post in posts %}
          <div class="video-wrapper mt-5">
            <iframe width="560" height="315" src="{{ post.url }}"
                    title="YouTube video player" frameborder="0" allowfullscreen>
            </iframe>
          </div>
          <div class="flex flex-row justify-between bg-ch1 p-2 rounded-b-lg">
            <p class="font-medium text-ch3">
              {{ post.desc }}
            </p>
            <p class="text-gray-500">
              <a href="/tag/{{post.tag}}">#{{ post.tag }}</a>
            </p>
          </div>

      {% else %}
          <p class="text-lg">Error: oops, found no posts. :(</p>
      {% endfor %}

    </div>

  </div>
</div>
{% endmacro %}

{% macro init_menu() -%}
<script>
$(document).ready(function() {
    $("#mobile-menu").hide();  
    $("#menu-button").click(function () {
        $("#mobile-menu").toggle(100);  
    });
});
</script>
{% endmacro %}
