@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-ch3;
    @apply font-semibold;
  }
  a:hover {
    @apply text-ch2;
  }
  a:active {
    @apply text-ch1;
  }
}

body {
  font-family: 'Ubuntu', sans-serif;
}

b {
  font-weight: 500;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
